.Beat {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    /* new */
    /* font-family: 'Times New Roman', Times, serif; */
    /* OBVIOUSLTY NOT WORkiNG */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
}

.Beat figure,
h5 {
    margin: 0 0;
}

.Heart {
    font-weight: 400;
    font-size: 5.9rem;
    color: red;
}

.Comment{
    font-weight: 400;
    font-size: 5.9rem;
    color: blue

}

.HeartOutline {
    color: #f85032;
    font-size: 5.9rem;
}

.Heart:hover {
    /* color: grey; */
    color: #f85032;
    font-size: 5.9rem;
}

.HeartOutline:hover {
    color: #f85032;
    font-size: 5.9rem;
}

.CommentOutline {
    color: #f85032;
    font-size: 5.9rem;
}

.Comment:hover {
    /* color: grey; */
    color: #f85032;
    font-size: 5.9rem;
}

.CommentOutline:hover {
    color: #f85032;
    font-size: 5.9rem;
}



.beatBar{
    float: left;
    padding-bottom: auto;
    font-weight: 400;
    font-size: 5.9rem;
    
}



far.fa.heart{
    font-size: 5.9rem;
    
}
 /* FEEDBACK ICONS */
.iconFire{
    color:red;
}

.iconFire:hover {
    /* color: grey; */
    color: red;
    font-size: 1.9rem;
}

.iconSnowflake {
    color: blue;
}

.iconSnowflake:hover {
    /* color: grey; */
    color: red;
    font-size: 1.9rem;
}

.iconBolt {
    color: yellow;
}

.iconBolt:hover {
    /* color: grey; */
    color: red;
    font-size: 1.9rem;
}

.iconTrash {
    color: green;
}

.iconTrash:hover {
    /* color: grey; */
    color: red;
    font-size: 1.9rem;
}

.iconRedo {
    color: purple;
}

.iconRedo:hover {
    /* color: grey; */
    color: red;
    font-size: 1.9rem;
}

.NavLink:hover {
    padding: 5px;
    color: red;
}