.Star {
    color: rgb(0, 0, 0);
    font-size: medium;
}



.custom-rating {
    color: #00ff00;
    /* Change the color here */
}




.star.Star {
    /* Your styles for the stars */
    /* For example: */
    color: blue;
    /* Change color */
    font-size: 20px;
    /* Change size */
}

